<section id = "sponsors">
    <p>A special thanks to our sponsors who are essential to the growth of Velove</p>
    <div class="sponsors-container">
        <div class="sponsorEntry">
            <a href="https://veloplus.ch"> <img src="../img/sponsorLogos/veloplus_logo.png" style="width:200px"></a>
        </div>

        <div class="sponsorEntry">
            <a href="https://www.provelozuerich.ch/"><img src="../img/sponsorLogos/provelo_logo.png" style="width:200px;"></a>
        </div>

        <div class="sponsorEntry">
            <a href="https://www.velok.ch/"><img src="../img/sponsorLogos/velok_logo.png" style="width:200px"></a>
        </div>
    </div>

</section>
<section id="footer">

    <div class="footer-container">
        
        <div class="footerEntry">
            <a href="https://www.facebook.com/VelowerkstattETH/">Werkstatt on Hönggerberg Facebook</a>
        </div>
        <div class="footerEntry">
            <a href="https://www.facebook.com/velovewaedi/">Werkstatt at Wädenswil Facebook</a>
        </div>
        <div class="footerEntry">
            <a href="../impressum.html">Impressum</a>
        </div>
        <div class="footerEntry">
            <a href="mailto:info@velovezh.ch">info@velovezh.ch</a>
        </div>

        <div class="footerEntry">
        </div>
        <div class="footerEntry">
            <img src="../img/sponsorLogos/vszhw_logo.png" style="height:50px ;width:140px;"> 
        </div>
        <div class="footerEntry">
            <img src="../img/sponsorLogos/vseth_Logo_bylines_organisation.png" style="height:50px ;width:150px;">
        </div>
        
    </div>
    
</section>


<!-- Goatcounter user statistics -->
<script>
    (function() {
        var script = document.createElement('script');
        window.counter = 'https://velovezh.goatcounter.com/count'
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';

        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
    })();
</script>