<header>
<div id="logo">
    <a href="/index">
        <img id="title-logo" src="../img/velove_logo_blue.png" alt="logo">
        <span id="title">VELOVE</span>
        <span id="subtitle" style="color:#555">Gets universities cycling</span>
    </a>
</div>

<nav class="menu-nav">

    <!-- The Hamburger Menu Icon -->
    <a href="#" id="menu-icon"></a>

    <!-- The Contents of the Menu Bar that slides out -->
    <ul id="menu-bar">
        <li><a href="/index">Home</a></li>
        <li><a href="/velowerkstatt">Locations</a></li>
        <li><a href="/people">People</a></li>
        <li><a href="/events">Schedule & Events</a></li>
        <li><a href="/getinvolved">Getting Involved</a></li>
        <!-- <li><a href="/gallery.php">Gallery</a></li> -->
        <li><a href="/rentals">Rentals</a> </li>
        <li>
            <hr style="color:#f9f9f9">
        </li>
        <!-- <li><a href="/shop.php">Shop</a></li> -->
        <li><a href="/locations//mobileWerkstatt">Mobile Werkstatt</a></li>
        <!-- <li><a href="/rides.php">Riding in Zurich</a></li> -->
        <li><a href="/bikeable">Bikeable</a></li>
        <li><a href="/coffee">Irrational Coffee</a></li>
        <!-- <li><a href="/veloventilator.php">VELOVEntilator</a> </li> -->
        <!--        <li><a href="projects.php">Projects</a> </li>-->
    </ul>

    <!-- A semi-transparent button used for small screens -->
    <button id="menu-overlaybutton">
    </button>

</nav>

</header>