---
---
<!doctype html>

<html lang="en">



<head>

    <meta charset="utf-8">

    <title>VELOVE</title>

    <meta name="description" content="Bike club for the students of Zurich">

    <meta name="author" content="VELOVE">

    <meta name="keywords" content="velove, velowerkstatt, ETH Zurich, VSETH" />

    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

    <link rel="stylesheet" href="../css/styles.css?version=1.1">
    <link rel="stylesheet" href="../css/styles_accordian_simple.css?version=1.2">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRacing+Sans+One" rel="stylesheet">
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>





<body>
    {% include templates/headers.html %}

    <section>
        <div class="locations">
            <h2> ETH Hönggerberg</h2>
            <p>
                You can find our pin-point location <a href="https://goo.gl/maps/YXsEG44rAJG2" target="_blank">here on
                    google maps</a>. We are located in the student village on the Hönggerberg campus of ETH. Our
                location is highlighted on this <a href="/img/workshop/velove_room_hongg.png">map of the campus</a>.


            <table id="openinghours">
                <tr>
                    <td>Tuesday</td>
                    <td>17:00-20:00</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>17:00-20:00</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>17:00-20:00</td>
                </tr>
            </table>

            Unexpected opening and closing times are always posted on our <a
                href="https://www.facebook.com/VelowerkstattETH/">Hoenggeberg facebook page</a>
            </p>
        </div>


    </section>

    {% include templates/footers.html %}


</body>