---
---
<!doctype html>

<html lang="en">



<head>

    <meta charset="utf-8">

    <title>VELOVE</title>

    <meta name="description" content="Bike club for the students of Zurich">

    <meta name="author" content="VELOVE">

    <meta name="keywords" content="velove, velowerkstatt, ETH Zurich, VSETH" />

    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

    <link rel="stylesheet" href="../styles.css?version=1.1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRacing+Sans+One" rel="stylesheet">
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <meta name="google-site-verification" content="ky9cI9VdhvgUlM-Kq0-Zr8LFB1DLFcI_ASG5eRxFynk" />

</head>





<body>
    {% include /templates/headers.html %}

    <section>
        <h1>Mobile Bike Workshop</h1>
        With our mobile workshop we will be able to come to your campus.<br>
        We will help students and campus staff in fixing their bikes, providing tools and knowledge to get their bikes road worthy again.
        <br><br>
        We, the VELOVE team,  are a group of bike enthusiast students, and our goal is to get more students exited about biking
        and create a space for encounters all around biking.
        Since more than two years we've been running the VELOVE Bike Workshop on the Hönggerberg ETH campus, an unconventional place where our members have been helping students fix their own bikes.
        <br><br>
        The next step for us, following our motto to "get universities cycling", is to bring our assistance and expertise to more students, by hosting a <b>mobile workshop</b>.<br>
        This consists of an assortment of essential bike fixing tools, together with helpers which will provide helpful tips on bike maintenance.<br><br>
        For more information please contact <b>info@velovezh.ch</b>

        <br><br>
        <img src="./img/workshop/workshopHelpers.jpg"><br>
        <img src="./img/workshop/mobileWorkshop.jpg">


    </section>

    {% include /templates/footers.html %}


</body>